*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

body {  
    display: grid;
    place-content: center;
}


.container {
    max-width: 500px; 
    aspect-ratio: 1/2; 
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
}

.reaction{
    display: flex;
    justify-content: space-between;
}
.swipper { 
    margin-block: auto;
    width: 100%;
    min-height: 400px;
    position: relative;
    width: 300px; 
    display: grid;
    place-items: center;
    perspective: 2000px;
    
}

.swipper .wrapper {
    background-color: white;
    border: solid 1px #dedede;
    transform-style: preserve-3d;
    border-radius: 10px; 
    padding: 3px;
    cursor: pointer;
    position: absolute;
    left: initial;
    aspect-ratio: 2/3;
    max-height: 100%;
    display: grid;
    place-items: center; 
    z-index: calc(var(--i));
    transform: translateZ(calc(-80px * var(--i))) rotate(calc(-30deg + calc(var(--i) * 8deg)))  translateY(calc(-50px + calc(var(--i) * 1px)))  scale(calc(1 + calc(var(--i) / 200)));
}
.wrapper.active{
    filter: drop-shadow(0 10px 10px rgba(87, 238, 255, 0.593));
    transition: .2s .2s;
    transform: none;
}
 

img {
    max-width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.like, .dislike {
    position: relative;
    width: 80px; 
    aspect-ratio: 1/1; 
}

.heart-wrapper, .dislike-wrapper {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.like svg, .dislike svg{
    position: absolute; 
}

.invisible{
    opacity: 0;
    visibility: hidden; 
    transform:translateX(calc(-40px + (var(--i) * 80px))) rotate(calc(-30deg + (var(--i) * 60deg))) scale(.8);
    filter: drop-shadow(0 0px 8px rgb(220, 88, 240));
}

.like svg.invisible{
    filter: drop-shadow(0 0px 8px #f96c6c);
}

.overlay{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.682);
    z-index: 999;
    display: grid;
    place-items: center;
}
.overlay.active{
    opacity: 1;
    visibility: visible;
}
.blur{
    filter: blur(5px);
}

.overlay .content{
    width: 100px;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 0px 8px rgba(134, 127, 135, 0.372));
    border-radius: 20px;
    background-color: rgb(31, 26, 26);
    place-items: center;
    display: grid;
}

.overlay .content div{
    background-color: transparent;
    width: 50px;
    aspect-ratio: 1/1;
    border: solid 10px rgba(92, 92, 236, 0.527);
    border-top-color: rgb(255, 255, 255);
    border-radius: 50%;
    animation: rotate 1.5s ease infinite;
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}